body {
  background-color: rgba(85, 68, 136, 0.23);
  font-family: "Korolev-Medium", sans-serif;
}

.development-picture-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: url(/images/bg/bg_training.png) no-repeat center center;
  background-size: cover;
}

.development-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.development-content {
  padding-top: 76px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.development-content li {
  text-align: left;
  font-size: 15px;
}

.development-content h1 {
  font-family: "Korolev-Medium", sans-serif;  
  color: white;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.training-form {
  color: white !important;
  margin-top: 25px;
}

.action {
  margin: 3% 15% 0 15%;
}

@media (max-width: 1066px) {
      .development-content {
        margin: 0;
        width: 100%;
      }

     .development-content li {
      font-size: 13px;
      background-size: cover;
    }
}
