body {
  background-color: rgba(85, 68, 136, 0.23);
  font-family: "Korolev-Medium", sans-serif;
}

.wrapper {
  min-height: 0 !important;
}

.sales-picture-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: #548;
}

.sales-content {
  padding-top: 9px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.fill-form {
  text-align: center;
  font-size: 23px;
  margin-top: 38px;
  font-family: "Korolev-Light", sans-serif;
}

.action {
  margin: 3% 15% -12% 15%;
}
