body {
  background-color: white;
  font-family: "Korolev-Medium", sans-serif;
}

p {
  font-size: 15px;
  font-family: "Korolev-Medium", sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Korolev-Medium", sans-serif;
}
.nav-list {
  position: fixed;
}
