---
layout: print
title: GitLab Subscription Terms
---
{% include subscription_terms.html %}

<div style="width:49%; display: inline-block;">
  <div class="signature-block">
    <ul class="list-group">
       <li class="list-group-item"><b>Customer:</b><br><br></li>
       <li class="list-group-item">Signature:<br><br><br><br> </li>
       <li class="list-group-item">Name:<br><br></li>
       <li class="list-group-item">Title:<br><br></li>
       <li class="list-group-item">Date:<br><br></li>
     </ul>
  </div>
</div>

<div style="width:49%; display: inline-block;">
  <div class="signature-block">
    <ul class="list-group">
       <li class="list-group-item"><b>GitLab B.V.<br><br></b></li>
       <li class="list-group-item">Signature:<br><br><br><br> </li>
       <li class="list-group-item">Name:<br><br></li>
       <li class="list-group-item">Title:<br><br></li>
       <li class="list-group-item">Date:<br><br></li>
     </ul>
  </div>
</div>
